APP_ENV=production
APP_PORT=8080

MAIN_URL=https://schedules.run
DATABASE_URL=postgres://schedule_user:change-me@localhost:5432/schedule_core?sslmode=disable

UMAMI_URL=https://viewcount.live
UMAMI_WEBSITE_ID=
UMAMI_USERNAME=
UMAMI_PASSWORD=
